[submodule "src/github.com/wernerd/GoRTP"]
	path = src/github.com/wernerd/GoRTP
	url = https://github.com/wernerd/GoRTP
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "src/github.com/cihub/seelog"]
	path = src/github.com/cihub/seelog
	url = https://github.com/cihub/seelog
[submodule "src/github.com/smallnest/rpcx"]
	path = src/github.com/smallnest/rpcx
	url = https://github.com/smallnest/rpcx
